.apuntes1 {
    /*Tamanio de fuente*/    
    font-size: 30px;

    /*Tipo de letra*/
    font-family: FAMILY_NAME, GENERIC_NAME;

    /*Grosor de texto*/
    font-weight: 800px;

    /*Distancia entre lineas en un bloque*/
    line-height: 25px;
    
    /*Color (texto..)*/
    color: orange;

    /*Alto*/
    height: 10vh;

    /*Ancho*/
    width: 100vw;
    
    /*Bordes*/    
    border-radius: 50%;
    /*Forma larga*/
    border-color: red;
    border-width: 5px;
    border-style: solid;
    /*Forma corta*/
    border: red 5px solid;

    /*Color del fondo*/    
    background-color: green;
    
    /*background con imagen*/
    background: url(direccion-de-la-imagen.png/jpeg/jpg);

    /*Gradiente lineal (Degradados)*/
    /*Argumentos*/
    /*background: linear-gradient(gradient_direction, color 1, color 2, color 3, ...);*/
    background: linear-gradient(90deg, red, yellow, rgb(204, 204, 255));

    /*Gradiente lineal repetida*/
    background: repeating-linear-gradient(
      45deg,
      yellow 0px,
      blue 40px,
      green 40px,
      red 80px
    );

    /*Padding*/
    padding: 10px; /*Todos los lados*/
    padding: 10px 10px; /*top, botton || right, left*/
    padding: 10px 4px 2px 7px; /*top, botton, right, left*/
    padding-top: 5px; /**/
    padding-right: 5px; /**/ 
    padding-bottom: 5px; /**/ 
    padding-left: 5px; /**/

    /*Margin*/
    margin: 10px; /*Todos los lados*/
    margin: 10px 10px; /*top, botton || right, left*/
    margin: 10px 4px 2px 7px; /*top, botton, right, left*/
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;

    /*Centrar elementos en bloque horizontalmente*/
    margin: auto;

    /*Unidades absolutas
        in: pulgadas
        mm: milimetros
      Unidades relativas
        em
        rem*/

    /*Variables*/
    /*Crear variable*/
    --nombre-variable: gray;
    /*Utilizar variable | variable de respaldo*/
    background: var(--nombre-variable, black);

    /*Media query*/
    @media (max-width: 350px) {
    }

    /*Alineacion de contenido en un elemento en bloque*/
    text-align: justify;
    text-align: center;
    text-align: right;
    text-align: left;

    /*Sombra o sombras para elementos*/
    /*offset-x  offset-y  blur-radius  spread-radius  color*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    /*Opacidad en elementos*/
    opacity: 0.7;

    /*Convertir texto (mayuscula, minuscula, etc)*/
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: capitalize;
    text-transform: initial;
    text-transform: inherit;
    text-transform: none;

    /*Posicion de un elemento*/
    /*top, bottom, right, left*/
    position: static;
    position: relative;
    position: absolute;
    position: fixed;
    position: sticky;

    /*Superposicion de elementos*/
    z-index: 2;

    /*Transformar elementos*/
    /*aumentar tamanio*/
    transform: scale(2); /*ambos ejes*/
    transform: scale(2, 3); /*ejes especificos*/
    /*inclinar elemento*/
    transform: skewX(-35deg); /*eje x*/
    transform: skewY(12deg); /*eje y*/
    transform: skewY(-35deg, 12deg); /*ambos ejes*/
    /*trasladar*/
    transform: translate(120px, -10px);
    /*rotar*/
    transform: rotate(45deg);
}

/*Pseudo-clase hover*/
a:hover {
  color: red;
}

/*Pseudo-elementos ::before y ::after*/
div::before{
  content: ""
}

/*Animaciones*/
.anim {
  animation-name: colorful;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-direction: reverse;
  animation-fill-mode: forwards; /*Valores: none, forwards, backwards, both*/
  animation-iteration-count: infinite;
  animation-timing-function: linear; /*Valores comunes: ease, ease-out, ease-in, linear*/
  /*Pagina para ayudar a entender el cubic-bezier
  https://cubic-bezier.com/#.17,.67,.83,.67*/
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

@keyframes colorful {
  0% {
    background-color: blue;
  }
  100% {
    background-color: yellow;
  }
}

.apuntes-flex {
  display: flex;

  /*Direccion del flex*/
  flex-direction: column;
  flex-direction: column-reverse;
  flex-direction: row;
  flex-direction: row-reverse;

  /*Eje central*/
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;

  /*Eje transversal*/
  align-items: center;
  align-items: baseline;

  /*Mover elementos extra a la siguiente fila o columna*/
  flex-wrap: nowrap;
  flex-wrap: wrap;

  /*Contraer el elemento si el contenedor flex es mas pequenio*/
  flex-shrink: 1;
  /*Expandir el elemento si el contenedor flex es mas grande*/
  flex-grow: 2;
  /*Establecer tamanio inicial de un elemento*/
  flex-basis: auto;
  /*Abreviado: flex-grow flex-shrink flex-basis*/
  flex: 2 2 300px;

  /*Orden en el que apareceran los elementos*/
  order: 2;

  /*Ajustar alineacion de cada elemento individualmente*/
  align-self: center;
  align-self: baseline;
}

.apuntes-grid{
  display: grid;

  /*Columnas*/
  grid-template-columns: 2fr 30px;
  grid-template-columns: repeat(2, 1fr 50px) 20px;
  /*Espacio entre columnas*/
  grid-column-gap: 3px;
  /*Controlar la cantidad de columnas que un elemento tendra*/
  grid-column: 1 / 3;

  /*Filas*/
  grid-template-rows: 12px 1fr;
  grid-template-rows: repeat(50, 50px);
  /*Espacio entre filas*/
  grid-row-gap: 4px;
  /*Controlar la cantidad de filas que un elemento tendra*/
  grid-row: 2 / 5;

  /*Espacio entre filas y columnas*/
  grid-gap: 6px;
  /*Espacio entre filas y columnas de forma separada*/
  /* filas  ||  columnas*/
  grid-gap: 6px 8px;

  /*Alinear la posicion del contenido dentro de una celda horizontalmente*/
  justify-self: center;
  justify-self: end;
  /*Alinear la posicion del contenido dentro de una celda verticamente*/
  align-self: center;
  align-self: baseline;

  /*Alinear la posicion horizontalmente en el padre*/
  justify-items: center;
  /*Alinear la posicion verticalmente en el padre*/
  align-items: center;
  
  /*Crear areas*/
  grid-template-areas:
    "header header header"
    "advert content content"
    "advert footer footer";
  
  /*Determinar el area de un elemento*/
  grid-area: header;
  /*En caso de no tener un grid-template-area*/
  /*grid-area: horizontal-start / vertical-start / horizontal-end / vertical-end;*/
  grid-area: 3/1/4/4;

  /*Limitar el tamanio de los elementos cuando el conteneder cambia*/
  grid-template-rows: minmax(30px, 45px);

  /*Auto fill: Rellena con espacios vacios*/
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr);
  /*Auto fit: No rellena, estira los que hayan*/
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr);
}